.navigate {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 364px;
    width: 100%;
}

.navigate__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    max-width: 212px;
    width: 100%;
}

.navigate__movies {
    text-decoration: none;
    color: #000000;
}
.navigate__movies:hover {
    opacity: 0.8;
}

.navigate__movies:focus {
    font-weight: bold;
}

.navigate__profile {
    display: flex;
    border: 2px solid #AAAAAA;
    border-radius: 50px;
    text-decoration: none;
    padding: 8px 12px;
    color: #000000;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100px;
    width: 100%;
    justify-content: center;
}

.profile__img {
    margin-right: 7px;
}

.navigate__button-open {
    display: none;
    border: none;
    padding: 0;
    width: 44px;
    height: 44px;
    font: inherit;
    color: inherit;
    background-image: url(../../images/burger.svg);
    background-color: transparent;
}
@media screen and (max-width: 768px) {
    .navigate__button-open {
        display: block;
    }
    .navigate {
        display: none;
    }
}
