.navigation__list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  cursor: pointer;
}

navigation__link:hover {
opacity: 0,7;
}